/* Global styles */

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

img {
  display: block;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
p,
span {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* Header styles */
.header {
  border-bottom: 1px solid #e7e9fc;
}

.header .container {
  width: 1158px;
  padding: 0 15px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 24px 156px;
  height: 72px;
  border-bottom: 1px solid #e7e9fc;
}
/*Logo styles  */
.navigation {
  display: flex;
  align-items: center;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
  margin-right: 76px;
  display: inline-block;
}

.logo-dark {
  color: #2e2f42;
}

.logo-light {
  color: #f4f4fd;
}

/* Nav-list styles */

.navigation-list {
  display: flex;
  gap: 40px;
  padding-left: 0;
}

.navigation-list-link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  padding: 24px 0;
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: #404bbf;
}

/* Address-list styles */
.address-list {
  font-style: normal;
  display: flex;
  gap: 40px;
  padding-left: 0px;
  margin-left: 332px;
}

.adress-list-link {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.adress-list-link:hover,
.adress-list-link:focus {
  color: #404bbf;
}

/* Main styles */

/* Hero section styles */
.hero-section {
  background-color: #2e2f42;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 188px 0;
}

.hero-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 auto;
  max-width: 496px;
  margin-bottom: 48px;
}

.order-button {
  background-color: #4d5ae5;
  display: block;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  padding: 0;
  margin: 0 auto;
  border: none;
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

/* Advanteges styles */
.advanteges-section {
  display: flex;
  flex-direction: row;
  width: 1128px;
  padding: 120px 0;
}

.advanteges-section .container{
  
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advanteges-list {
  background-color: #ffffff;
  display: flex;
  gap: 24px;
  padding: 0 156px;
  padding-left: 0;
  
}

.advanteges-list-item {
  flex-direction: column;
  width: 264px;
  height: 104px;
  width: width: calc((100% - 72px) / 4);
}

.advanteges-list-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.advanteges-list-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Our team styles */
.team-section {
  background-color: #f4f4fd;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 732px;
  gap: 72px;
  padding: 120px 0;
}

.employees {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  align-items: center;
  margin: 0 auto;
  padding-left: 0;
  
}

.employee-list {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
 
}

.team-title {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
  text-align: center;
}

.employee-name {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.employee-list .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 32px 0;
  margin: 0;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
}

.work-title {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/* Our portfolio styles */

.our-portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
  padding: 120px 0;
}

.our-portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
  
}

.our-portfolio-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 48px;
  column-gap: 24px;
  padding-left: 0;
  
}

.our-portfolio-list-item{
  width: calc((100% - 48px) / 3);
  
}

.our-portfolio-list .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 360px;
  height: 120px;
  margin: 0;
  
  
}

.offer-name {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.offer-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Footer styles */
.footer-section {
  background-color: #2e2f42;
  padding: 100px 0;
}



.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  
}

.logo-link {
display: inline-block;
margin-bottom: 16px;
}


